aiohttp==3.7.4.post0
aiojobs==0.3.0
aiomysql==0.0.21
aioredis==1.3.1
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.1
fastapi==0.63.0
fastapi-plugins @ git+https://github.com/adeshpandey/fastapi-plugins.git@858c7d59da9d41121f898d5d486f5f52a998b66d
h11==0.12.0
hiredis==1.1.0
idna==2.10
multidict==5.1.0
pydantic==1.7.3
PyMySQL==0.9.3
requests==2.25.1
six==1.15.0
starlette==0.13.6
tenacity==6.3.1
typing-extensions==3.7.4.3
urllib3==1.26.2
uvicorn==0.13.3
yarl==1.6.3
